@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: 300%;
  -webkit-animation: BackgroundAnimation 10s ease infinite;
  -moz-animation: BackgroundAnimation 10s ease infinite;
  animation: BackgroundAnimation 10s ease infinite;
}

@keyframes BackgroundAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

html {
  scroll-behavior: smooth;
}
